body {
  background: linear-gradient(to bottom, #4ec0ca 0%, #d9f4f7 100%);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 400px;
}

canvas {
  background: #87ceeb;
  border: 4px solid #fff;
  border-radius: 8px;
  display: block;
}

/* OVERLAY MENU */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%; /* Menggunakan 100% agar pas dengan lebar canvas */
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  z-index: 20;
  border-radius: 4px; /* Menyesuaikan sudut canvas */
}

h1 {
  font-size: 22px;
  margin-bottom: 40px;
  color: #e3c505;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background: #e3c505;
  border: 4px solid #000;
  padding: 12px 20px;
  margin: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
  background: #f1d306;
}

/* SELEKSI KARAKTER */
.char-list {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.char-opt {
  width: 50px;
  height: auto;
  cursor: pointer;
  border: 4px solid transparent;
  padding: 5px;
}

.char-opt.selected {
  border-color: #e3c505;
  background: rgba(255, 255, 255, 0.2);
}

.desc-content {
  padding: 20px;
  font-size: 10px;
  line-height: 1.6;
}

/* UI UTILITY */
.hidden {
  display: none !important;
}

/* JUMP BUTTON MOBILE */
#jumpBtnMobile {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: 5;
  display: none;
}

@media (max-width: 768px) {
  #jumpBtnMobile {
    display: block;
  }
}

/* GAME OVER POPUP */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border: 4px solid #000;
  z-index: 30;
  text-align: center;
  min-width: 180px;
}
